*{
    margin: 0;
    padding: 0;
}

#box-maior{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 5px;

}

.box-medio{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    height: fit-content;
    width: 300px;
    padding: 5px;
    margin: 5px;
}