#box-maior{
    margin-top: 5vh;
}

.soLeitura{
    visibility: hidden;
    /* visibility: visible; */
}

textarea {
    resize: none;
}

h1{
    text-align: center;
}

#logo_CNPJ{
    height: 65px; width: 65px;
}

@media screen and (max-width: 800px) {
    #box-maior{
        width: 95vw;
        margin-left: 2.5vw;
        margin-right: 2.5vw;
    }
    #btn-buscar{
        margin-left: 40%;
    }
}