body{
    background-size: cover;
    background-repeat: no-repeat;
}

.titulo{
    text-align: center;
}

.img-iconeTitulo{
    height: 40px;
    width: 40px;
}

.img-icone{
    height: 30px;
    width: 30x;
}

.campoDisabled:disabled{
    background-color: white;
}

/**/