*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(252, 244, 235);
    display: flex;
    align-items: center;
    justify-content: center;
}

#box-maior{
    margin-top: 10%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.box-medio{
    width: 350px;
    height: 500px;
}

#box-texto{
    background-color: white;
    border-start-end-radius: 5%;
    border-bottom-right-radius: 5%;

}

#img-produto{
    height: 100%;
    width: 100%;
    border-start-start-radius: 5%;
    border-bottom-left-radius: 5%;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }